<ion-content>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Редактировать профиль
    </ion-title>
  </ion-toolbar>
</ion-header>

  <h4>Загрузка фото</h4>
  <form #upload = "ngForm" (ngSubmit) = "onClickSubmit()" enctype="multipart/form-data">
    <input type='file' name='image' (change)="fileProgress($event)">
    <input type="submit" value="Send">
  </form>

  <ion-item>
    <ion-label>family: </ion-label>
    <ion-input type="text" [(ngModel)]="family"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>birthday (dd.mm.yyyy): </ion-label>
    <ion-input type="text" [(ngModel)]="birthday"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>vk: </ion-label>
    <ion-input type="text" [(ngModel)]="vk"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>name: </ion-label>
    <ion-input type="text" [(ngModel)]="user"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>phonenumber: </ion-label>
    <ion-input type="text" [(ngModel)]="phonenumber"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>skype: </ion-label>
    <ion-input type="text" [(ngModel)]="skype"></ion-input>
  </ion-item>


  <ion-button expand="block" shape="round" color="secondary" (click)="pushEdits()">Edit profile</ion-button>
  <ion-button expand="block" shape="round" color="danger" (click)="back()">Назад</ion-button>
</ion-content>


<style>
  table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
</style>
